* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.4rem;
  padding: 0.5em 1em;
  margin-top: 1.5em;
}

#container {
  margin: 0 auto;
  width: min(100%, 60ch);
  height: auto;
  margin-inline: auto;
  background-color: #d3d3d3;
  border: 0.5ch solid grey;
}

ul {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(min(100%, 2ch), 1fr));
 grid-auto-rows: auto;
 padding: 0;
 margin: 0;
}

ul li {
  aspect-ratio: 1/1;
  width: min(100%);
  background-color: #add8e6;
  border: 1px solid darkgray;
  border-radius: 10px;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-size: clamp(1rem, 8vw, 2rem);
  cursor: pointer;
}

.empty-cell {
  background-color: #d3d3d3;
  border: none;
}


.overlay-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.modal-position {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: min(100%, 40ch);
  height: min(100%, 25ch);
  padding: 0.5em;
  background: white;
  z-index: 10;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.heading {
  margin: 0;
  padding: 0.5em;
  color: #2c3e50;
  font-size: 1.4rem;
  text-align: center;
}

.modal-content {
  font-size: 14px;
  color: #2c3e50;
  text-align: center;
}

.close-button {
  background-color: #2c3e50;
  font-size: 1rem;
  margin: 1em;
}