/* Todo:
1. Make bricks square at all times.
2. Make sure rows can not be fewer than 3 bricks.
3. Test it out in mobile and iPad-viewport */

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#container {
  margin: 0 auto;
  width: min(100%, 70ch);
  height: auto;
  margin-inline: auto;
  background-color: #d3d3d3;
  border: 0.5ch solid grey;
}

ul {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(min(100%, 15ch), 1fr));
 grid-auto-rows: auto;
 padding: 0;
 margin: 0;
}

ul li {
/*   width: min(100%, 14ch);
  height: 100px;
  gap: 15%; */
  /*   width: 25%;
  height: auto; */
  width: 100%;
  height: 100px;
  list-style-type: none;
  background-color: aqua;
  border: 1px solid darkgray;
  border-radius: 10px;
}

.empty {
  background-color: #d3d3d3;
  border: none;
}